# All your database connections related code can be added here
{%- if orm_odm_support == True %}
{%- if orm_odm_type == "sqlalchemy" and app_type == "fast"%}
from sqlalchemy.ext.declarative import declarative_base
{% include "/connection/sqlalchemy_connection.jinja" %}


Base = declarative_base()
{% endif %}
{%- if orm_odm_type == "sqlalchemy" and app_type == "flask"%}
from flask_sqlalchemy import SQLAlchemy


database = SQLAlchemy()
{% endif %}


{%- if orm_odm_type == "mongoengine" and app_type == "flask"%}
from flask_mongoengine import MongoEngine


database = MongoEngine()
{% endif %}

{%- if orm_odm_type == "mongoengine" and app_type == "fast"%}
{% include "/connection/mongoengine_connection.jinja" %}
{% endif %}
{% endif %}

{%- if orm_odm_support == False %}
{% include "/connection/sqlite_connection.jinja" %}
{% endif %}

