# All your database connections related code can be added here

from sqlite3 import connect, Row

"""
Here we are connecting to SQLite database. We are using sqlite3 module to connect to the database.
Other database can also be used. Support for other databases will be added in future along with ORM and ODM support.
"""


class Connection:
    """
    This class is used to connect to the database and run any other connection related tasks.
    """

    def __init__(self):
        self.connection = connect('faag_cli.db')
        self.connection.row_factory = Row
        self.cursor = self.connection.cursor()  # cursor object

